%div.modal
  %div.square
    %p
      Vidas Online es un registro colaborativo
      %br
      que consiste en recopilar, por medio de una
      %br
      imagen o video, una experiencia, una situación,
      %br
      conversación o dibujo que permita reflejar
      %br
      como ha cambiado nuestra vida cotidiana
      %br
      por el uso del Smartphone.
      %p
  %br
  %br
  %div.designer
    MARÍA JOSÉ MANZUR
    %br
    Diseñadora Gráfica
  %br
  %br
  %div.imageFooter
    = image_tag 'home/Isotipo-03.png'