%div.modal
  %br
  %br
  %div.register
    Regístrate:
  %div.square
    %p.fb
      Regístrate con Facebook
  %div.square
    %p.emailreg
      Regístrate con el correo electrónico
  %div.continue
    %p#login-link
      Inicia sesión y sube tu registro.
  %br
  %br
  %div.imageFooter
    = image_tag 'home/forward.png', :id => 'login'