.slider-theme.slider-wrapper{
  width: 70%;
  margin: auto;
}
.slider-theme .nivo-caption{
  left: 6%;
  width: 400px;
  top: 45%;
  background: none;
  font-size: 25px;
  font-family: 'Voces';
  font-weight: bold;
}
.slider-theme .nivo-caption img{
  left: 70%;
  top: 0%;
  width: 80px;
}

.slider-theme .nivo-directionNav a{
  font-size: 40px;
  font-family: 'Titillium Web';
  color: white;
}

.slider-theme .nivo-prevNav {
  left:-40px;
}

.slider-theme .nivo-nextNav {
  right:-40px;
}